.image_slideshow_sync-wrapper .image_slideshow_sync-slider {
  margin: 0 auto;
  width: 860px;
  height: 450px;
  margin-bottom: 20px;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-slider .slick-list {
  width: 100%;
  height: 100% !important;
  margin: 0 !important;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-slider .image_slideshow_sync-image {
  width: 860px;
  height: auto;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-slider .slick-list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-nav {
  width: 850px;
  margin: 0 auto;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-nav  .slick-list {
  margin: 0 !important;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-nav  .slick-slide {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out 0s;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-nav .image_slideshow_sync-image {
  padding: 0 3px;
  height: 60px;
  cursor: pointer;
}

.image_slideshow_sync-wrapper .image_slideshow_sync-nav .slick-list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.image_slideshow_sync-wrapper .image_slideshow_sync-nav  .slick-slide.is-active {
  opacity: 1;
}


@media only screen and (max-width: 40rem) {
  .image_slideshow_sync-wrapper .image_slideshow_sync-slider {
    width: 100% !important;
    height: 240px !important;
  }

  .image_slideshow_sync-wrapper .image_slideshow_sync-nav {
    width: 100% !important;
  }

  .image_slideshow_sync-wrapper .image_slideshow_sync-slider .image_slideshow_sync-image {
    width: 100%;
    height: 240px;
  }
}

@media only screen and (max-width: 48rem) {
  .image_slideshow_sync-wrapper .image_slideshow_sync-slider {
    width: 600px;
    height: 350px;
  }
  .image_slideshow_sync-wrapper .image_slideshow_sync-slider .image_slideshow_sync-image {
    width: 100%;
    height: 350px;
  }
  .image_slideshow_sync-wrapper .image_slideshow_sync-slider .slick-list img {
    object-fit: contain;
  }
  .image_slideshow_sync-wrapper .image_slideshow_sync-nav {
    width: 600px;
  }
}
