<div class="image_slideshow_sync-wrapper">
<div class="image_slideshow_sync-slider">
  {% for key,value in url %}
  <div class="image_slideshow_sync-image">
    <img src="{{ value }}" />
  </div>
  {% endfor %}
</div>
<div class="image_slideshow_sync-nav">
  {% for key,value in url %}
  <div class="image_slideshow_sync-image">
    <img src="{{ value }}" />
  </div>
  {% endfor %}
</div>
</div>
